body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #FFF;
    }
    
    a {
    text-decoration: none;
    }
    ul {
    list-style: none;
    }
    
    
    /*Logo*/
    .header-style {
    background: var(--WHITE, #FFF);
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);;
    }
    .header-style-link {
    display: flex;
    align-items: center;
    
    }
    .header-container {
            width: 1440px;
            height: 72px;
            justify-content: center;
            display: flex;
    }
    
    .logo-style {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    
    }
    
    
    
    .logo-accent {
    color: #2e2f42;
    }
    
    
    /*Info*/
    .info-list {
        display: flex;
        gap: 40px;
    }
    
    .info {
        font-weight: 500;
        color: #2E2F42;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    
    .info-style {
        position: relative;
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .info-style::after {
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color: #404BBF;
        height: 4px;
        border-radius: 2px;
        margin-top: 20px;
        content: "";
        display: flex;
    }
    
    .info:hover,
    .info-style:focus,
    .info-style:active {
        color: #404BBF;
    }
    
    /*Address*/
    .address-link {
        font-style: normal;
        margin-left: auto;
    }
    
    .address-link-list {
        display: flex;
        gap: 40px;
    }
    
    .adress-info {
        padding-top: 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .address-style {
        line-height: 1.5;
        font-weight: 500;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .address-style:hover {
        color: #404bbf;
    }
    
    .address-style:focus {
        color: #404bbf;
    }
    
    
    
    /*Section1*/
    
    .section-one {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    }
    
    
    .button-style  {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: inline-flex;
        padding: 16px 32px;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        margin: 0 auto;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .button-style:hover, .button-style:focus {
            background-color: #404BBF;
    }
    
    .section-one-name{
    font-size: 56px;
    line-height: 1.07;
    color: white;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto 48px;
    }
    
    /*Section2*/
    
    
    
    .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }
    .section-two-list {
        display: flex;
        gap: 24px;
        margin: 0;
        padding: 0;
    }
    
    .section-two-list-one {
    width: calc((100% - 72px) / 4);
    
    }
    .icon-div-two {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        margin-bottom: 8px;
    }
    .icon-section-two {
        border-radius: 4px;
        border: 1px solid #8E8F99;
        background: #F4F4FD;
        width: 264px;
        height: 112px;
        align-items: center;
        padding: 24px 100px;
    }
    .section-two {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    font-weight: 500;
    margin-bottom: 8px;
    }
    
    .section-two-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }
    
    
    /*Section3*/
    
    .section-three-style {
        background-color: #F4F4FD;
        flex-shrink: 0;
    }
    
    .section-three-link{
    display: flex;
    gap: 24px;
    margin: 0;
        padding: 0;
    }
    .section-three-div {
    padding-top: 32px;
    padding-bottom: 32px;
    }
    .section-proffesion {
    line-height: 1.5;
    letter-spacing: 0.02em;
    
    }
    .fon-section-three {
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 3 * 24px) / 4);
    background-color: #fff;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }
    
    .section-profession-style {
    text-align: center;
    }
    .name-style {
        font-size: 20px;
        letter-spacing: 0.02em;
        color: #2e2f42;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 8px;
        text-align: center;
    }
    .section-three-icon-ul {
        display: flex;
        justify-content: center;
        cursor: pointer;
        gap: 24px;
        padding-top: 8px;
        padding-left: 8px;
    }
    
    .section-three-icon-li {
        
        width: 40px;
        height: 40px;
    }
    
    .section-three-icon-a {
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
    }
    .section-three-icon-a:hover {
    background-color: #404bbf;
    }
    .section-three-icon-a:focus, .section-three-icon-a:active {
    background-color: #404bbf;
    }
    .section-three-icon-svg {
        fill: #f4f4fd;
        background-size: 24px;
        background-repeat: no-repeat;
        content: "";
        align-items: center;
        transition-property: background;
    }
    
    
    /*Section4*/
    .section-four-menu {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
        margin: 0;
        padding: 0;
    }
    
    
    .section-name {
        font-size: 36px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
        font-weight: 700;
        line-height: 1.11;
        margin-bottom: 72px;
    }
    
    .fon-section-four {
        background-color: #FFFFFF;
        border-radius: 0px 0px 4px 4px;
        width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .fon-section-four:hover {
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
        
    }
    .fon-section-four:hover p {
    transform: translateY(0%);
    }
    .section-four-div {
        position: relative;
        overflow: hidden;
    }
    .section-four-div-two {
    padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
    }
    .section-four-p {
    position: absolute;
    
    font-size: 16px;
    
    color: #f4f4fd;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    .section-four-p:hover {
    transform: translateY(0%);
    }
    .name-style {
        font-size: 20px;
        letter-spacing: 0.02em;
        color: #2e2f42;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 8px;
        text-align: center;
    }
    
    /*Footer*/
    .footer-container {
    display: flex;
    align-items: baseline;
    }
    .footer-div-logo {
    margin-right: 120px;
    }
    
    .footer-fon {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
    
    }
    
    
    .footer-style {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
    letter-spacing: 0.03em;
        text-transform: uppercase;
        color:  #4d5ae5;
        margin-bottom: 16px;
        
    }
    
    .accent-footer {
        color: #f4f4fd;
    }
    
    .footer-style-link {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
    }
    
    .footer-style-link-one {
    line-height: 1.5;
        color: #FFFFFF;
        letter-spacing: 0.02em;
        max-width: 264px;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 16px;
    }
    
    .footer-icon-li {
    width: 40px;
    height: 40px;
    }
    
    .footer-icon-a {
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .footer-icon-a:hover, .footer-icon-a:focus {
    background-color: #31d0aa;
    }
    .footer-icon-svg {
    fill: #f4f4fd;
    }
    .footer-div {
    margin-left: 80px;
    }
    
    .footer-subscribe {
    margin-bottom: 16px;
    padding: 8px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    }
    
    .footer-form {
        display: flex;
        gap: 24px;
    }
    
    .footer-input {
        width: 264px;
        height: 40px;
        border: 1px solid #ffffff;
        background-color: transparent;
        font-size: 12px;
            line-height: 2;
            letter-spacing: 0.04em;
        padding-left: 16px;
        color: #ffffff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        
    }
    
    .footer-input::placeholder {
        color: #ffffff;
    }
    
    .footer-button {
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        display: flex;
        padding: 8px 24px;
        border-radius: 4px;
        background: #4D5AE5;
        justify-content: center;
        align-items: center;
        gap: 16px;
        display: flex;
        min-width: 165px;
        height: 40px;
        border: none;
        margin: 0 auto;
        text-align: center;
        cursor: pointer;
    }
    
    
    .footer-icon {
        display: flex;
        gap: 16px;
        margin: 0;
        padding: 0;
        margin-left: 16px;
        fill: #ffffff;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul {
    margin: 0;
    
    }
    
    .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    
        
    }
    .section {
    padding-top: 120px;
    padding-bottom: 120px;
    }
    
    img {
    display:block;
    }
    
    
    
    /*M O D A L*/
    
    .backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    Top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    }
    .modal {
        Width: 408px; 
        min-height: 584px;
    border-radius: 4px;
    background-color: #fcfcfc;
    position: absolute;
    padding: 72px 24px 24px 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-close-btn {
    position: absolute;
    padding: 0;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.10);
    display: flex;
    background-color: #e7e9fc;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-close-btn:hover, .modal-close-btn:focus {
    background-color: #404BBF;
    border: none; 
    fill: #ffffff;
    }
    .close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-title {color: #2E2F42;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
       margin-bottom: 16px;
    }
    .modal-div {
    margin-bottom: 8px;
    }
    .modal-label {
    color: #8E8F99;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.48px;
        margin-bottom: 4px;
        display: block;
        margin-top: 8px;
    }
    
    .modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-input:focus {
    border-color: #4D5AE5;
    }
    .modal-input:focus + .modal-icon {
        fill: #4D5AE5;
    }
    .modal-icon {
    fill: #2E2F42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-input-wrap {
    position: relative;
    }
    .modal-div-two {
        margin-bottom: 16px;
    } 
    .modal-text {
        width: 100%;
            border-radius: 4px;
            border: 1px solid rgba(46, 47, 66, 0.4);
            margin-bottom: 8px;
            background-color: transparent;
            outline: transparent;
        height: 120px;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.48px;
        padding: 8px 16px;
        resize: none;
        color: rgba(46, 47, 66, 0.4);
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-text:focus {
    border-color: #4D5AE5;
    }
    
    /*CHECKBOX*/
    .check-div {
    margin-bottom: 24px;
    }
    .check-text {
    color: #8E8F99;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.48px;
        align-items: center;
    }
    .check-span {
    width: 16px;
        height: 16px;
        border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        margin-right: 8px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .checkbox-a {
    color: #4D5AE5;
    text-decoration: underline;
    }
    
    .check-input:checked + .check-text span {
        background-color: #404BBF;
        border: none;
        fill: #F4F4FD;
    }
    .check-button {
        min-width: 169px;
        height: 56px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
            letter-spacing: 0.04em;
    cursor: pointer;
        display: block;
        padding: 16px 32px;
        gap: 10px;
        border-radius: 4px;
            background-color: #4D5AE5;
            color: #fff;
            border: none;
            align-items: center;
            line-height: 1.5;
                letter-spacing: 0.64px;
                font-size: 16px;
                margin: 0 auto;
                margin-top: 24px;
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }